@{
    ViewData["Title"] = "Home Page";
}
@model ClassChallenge.Models.Output
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form>
        <label>Department: </label>
        @Html.DropDownList("Colleges", new SelectList(Model.ListOfColleges))
    </form>
</div>
